.page-header {
  background-image: url('../images/header.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.header-contents {
  padding: 200px 0;
  margin: 0 auto;
}
.header-contents h1 {
  font-size: 120px;
  font-weight: 300;
}
.header-contents button {
  margin-left: 500px;
}